.cart {
    float: right;
    padding: 8px 20px;
    margin-top: 10px;
    margin-right: 10px;
    text-align: center;
    background: #E5F1F4;;
}
.message {
    .ok {
        color: green;
    }
}
.right {
    text-align: right;
}
.right2 {
    position: relative;
    text-align: right;
}
.options {
    &.right {
        float: right;
    }
}
.thumbnail {
    &.product {
        height: 200px;
        position: relative;
        margin-bottom: 30px;
        &.product-sm {
            height: 0px;
            min-height: 156px;
        }
    }
    &.cart-product {
        height: 110px;
    }
    &.order-checkout {
        min-height: 140px;
    }
}
.btn-bottom {
    position: absolute;
    bottom: 15px;
    right: 15px;
}
.pdt-sidebar {
    padding-top: 27px;
}
p {
    &.bg-success {
        padding: 15px;
    }
}
button {
    &.close {
        span {
            font-size: 25px !important;
        }
    }
}
.container {
    &.special {
        padding: 0 !important;
    }
}
.no-underline {
    text-decoration: none !important;
}
.small-block small {
    display: block;
}
.required {
    color: #a94442;
}
.pagination-center {
    display: table !important;
    margin-right: auto;
    margin-left: auto;
}
.emptySpace {
    height: 20px;
}
.bg-danger {
    background-color: #f2dede !important;
}